@import "tailwindcss";



/* *{
    background-color: black;
    color: white;
}  */



/* .light{
    --text: 0, 0, 0;
    --background1: 255, 255, 255;
    --background2: 255, 255, 255;
}

.dark{

} */